

/* hero */
.main{
    background: var(--secondary-color);
}
.hero{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "hero1 hero2";
    gap: 3rem;
    padding: 7rem 0 2rem 0 
}

.hero__content{
    grid-area: hero1;
    display: flex;
    flex-direction: column;
    gap:1rem ;
    flex-wrap: wrap;
}

.hero__heading{
    font-size: 6rem;
    font-weight: 500;
    color: var(--text-color);
}

.hero__subheading{
    font-size: 6rem;
    color: var(--primary-color);
}

.hero__paragraph{
    color: var(--text-color);
    font-size: 2rem;
}

.hero__button{
    background: var(--button-background-color);
    width: 40%;
    text-align: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
    color: var(--button-text-color);
    font-family: var(--Lilita);
    font-size: 2rem;
    margin-top: 5rem;
}

.hero__image{
    grid-area: hero2;
    display: grid;
    justify-content: center;

}

.hero__img{
    width: 40rem;
    height: 100%;
    object-fit: contain;
    border: 4px solid var(--highlight-color);
    border-radius: 1rem;
}

.data__tables{
    background: var(--footer-background-color);
    padding: 6rem 0;
}
.table__container{
    text-align: center;
    padding: 3rem 0;
    
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5rem;
    

}
tr{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

th{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 400;
}

thead{
    border: 1px solid var(--text-color);
}

td{
    margin-top: 2rem;
    border: 1px solid var(--highlight-color);
    color: var(--text-color);
    padding: 2rem 3rem;
    width: 100%;
    font-size: 3rem;
    font-weight: 700;
    font-family: var(--Lilita);
    letter-spacing: .3rem;

}
.highlight{
    color: var(--highlight-color);
    font-family: var(--Lilita);
}
.table__buttom{
    margin-top: 9rem;
    padding: 2rem 20rem;
    background: var(--button-background-color);
    border-radius: 1rem;
    color: var(--button-text-color);
    font-family: var(--Lilita);
    font-size: 2rem
}

/* galeria */
.grid__container__content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "heading1 heading2";
    align-content: center;
    justify-content: center;
    padding: 5rem 0;
}
.grid__content{
    grid-area: heading1;
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid__heading{
    font-size: 4rem;
    color: var(--text-color);
}

.grid__subheading{
    font-size: 4rem;
    color: var(--primary-color);
}

.grid__paragraph{
    color: var(--text-color);
    font-size: 1.8rem
}
.grid__button__container{
    grid-area: heading2;
    display: grid;
    justify-content: end;
    align-content: center;
}
.grid__buttom{
    padding: 2rem 12rem;
    background: var(--button-background-color);
    color: var(--button-text-color);
    font-family: var(--Lilita);
    font-size: 2rem;
    border-radius: 1rem;
    text-align: center;
}

/* galeria */

.grid__images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "gridmg1 gridmg2 gridmg3"
    "gridmg4 gridmg5 gridmg3";
    gap: 2rem;
    margin-bottom: 4rem;
}
.grid__img__1{
    grid-area: gridmg1
}
.grid__img__2{
    grid-area: gridmg2;
}
.grid__img__3{
    grid-area: gridmg3;
}
.grid__img__4{
    grid-area: gridmg4;
}
.grid__img__5{
    grid-area: gridmg5;
}

.grid__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

/* formulario */

.form{
    background: wheat;
}

.form__container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "form1 form2";
}

.form__heading{
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: form1;
    gap: 2rem;
}
.form__content__subheading{
    font-size: 3rem;
}

.form__content__paragraph{
    color: var(--text-color);
}

.form__heading__white{
    background: var(--text-color);
    grid-area: form2;

}
.form__subheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 2rem;
    padding-top: 4rem;
}
.form__1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.form__logo__container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__logo{
    width: 9rem;
}
.form__header__heading{
    font-size: 3rem;
}

.google-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    background: transparent;
    border: 3px solid whitesmoke;
    font-size: 1.7rem;
}

.form__paragraph{
    color: gray;
    text-align: center;
    margin: 3rem 0;
}

.form__input1{
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
}

.check__form1{
    color: var(--button-background-color);
}

.form__button{
    background: var(--highlight-color);
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2rem;
}

 
@media (max-width: 768px){
    .hero{
        grid-template-columns: 1fr;
        grid-template-areas: 
    "hero1"
    "hero2";
    }
    .hero__heading{
        font-size: 3rem;
        text-align: center;
    }
    .hero__subheading{
        font-size: 3rem;
        text-align: center;
    }
    .hero__button{
        background: var(--button-background-color);
        width: 100%;
        text-align: center;
        padding: 2rem 1rem;
        border-radius: 1rem;
        color: var(--button-text-color);
        font-family: var(--Lilita);
        font-size: 2rem;
        margin-top: 5rem;
    }
    .data__tables{
        display: none;
    }
    
    .social__icons{
        justify-content: space-evenly;
        align-items: center;
    }
    .list__container{
        background: var(--primary-color);
    }
    .nav__tittle{
        color: var(--secondary-color);
        letter-spacing: none;
    }
    .nav__list{
        display: none;
    }
    .nav__action{
        display: none;
    }
    .burguer{
        display: block;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    }